POSTGRES_USER=root
POSTGRES_PASSWORD=change-me
POSTGRES_DB=job
DATABASE_URL=postgresql://root:change-me@postgres:5432/job?schema=public
POSTGRES_PORT=5425
VACANCY_PORT=5003
LOG_LEVEL=debug
LOG_DIR=/var/log/vacancy-service
